{% extends "base.html" %}
{% load static %}

{% block title %}Duesseldorf|Home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
{% endblock head%}


{% block content%}
<div id = "page">
    <div id ="page_above">
        <p id='message'>デュッセルドルフで知り合った仲間たちで成人式を企画したい！<br>その成人式をもっと楽しくしたい！<br>そんな思いからこのページは生まれました！</p>
    </div>

    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="grid-column:2;width:100%">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner" style="height: 100%;">
            <div class="carousel-item active" data-bs-interval="3500" style="height: 100%;">
                <a href="{% url 'share_userpost:all_posts' %}" style="height: 100%;">    
                    <img src="{% static 'img/日本人学校.jpeg' %}" class="d-block w-100" style="height: 100%;opacity:0.5;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>懐かしの写真をシェアしよう！</h5>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="3500" style="height: 100%;">
                <a href="{% url 'share_userpost:event' %}" style="height: 100%;">    
                    <img src="{% static 'img/日本人学校.jpeg' %}" class="d-block w-100" style="height: 100%;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>成人式イベントの情報を知ろう！</h5>
                </div>
            </div>
            <div class="carousel-item" style="height: 100%;" data-bs-interval="3500">
                <a href="{% url 'chat:index' %}" style="height: 100%;">    
                    <img src="{% static 'img/日本人学校.jpeg' %}" class="d-block w-100" style="height: 100%;">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>あの頃のメンツとチャットしよう！</h5>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>
{% endblock content%}

