{% extends "base.html" %}
{% load static %}

{% block title %}Duesseldorf|Home{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/home_styles.css' %}">
{% endblock head%}


{% block content%}
<div id = "page">
    <div id ="page_above">
        <div id="page_above_left"><h1>このページの趣旨</h1></div>
        <div id="page_above_right"><h2>デュッセルドルフで知り合った仲間たちで成人式を企画したい！その成人式をもっと楽しくしたい！そんな思いからこのページは生まれました！</h2></div> 
    </div>
    <div id ="page_middle">
        <div id ="page_middle_left"><p id='page_middle_left_share'>当時の写真をシェアしよう！</p></div>
        <div id ="page_middle_right"><p id='page_middle_right_info'>成人式イベントの情報を知ろう！</p></div>
    </div>    
    <div id ="page_below">  
        <div id="page_below_left"></div>
        <div id="page_below_right"></div>
    </div>    
</div>
{% endblock content%}

