{% extends "base.html" %}
{% load static %}

{% block title %}Duesseldorf|Photos{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/posts_content_styles.css' %}">
{% endblock head %}


{% block content %}
<div id="posts_content">
    <div id="photo_content_buttons">
        <a href="{% url 'share_userpost:all_posts' %}" class="button">みんなの投稿</a>
        <a href="{% url 'share_userpost:self_posts' %}" class="button">自分の投稿</a>
        <a href=# data-toggle="modal" data-target="#CreateUserPost" class="button modal-btn">投稿する</a>
    </div>
    <div id="user_posts_container">
        {% for userpost in userpost_list %}
            <a base href="userpost-detail/{{userpost.id}}" style="height: auto;" class="userpost_card">
                <div class="card" style="width: 100%;">
                    {% for picture in pictures %}
                        {% if picture.post.id == userpost.id %}
                        <img class="card-img-top" src="{{picture.image.url}}">
                        {% endif %}
                        
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title">{{userpost.user}}</h5>
                        <p class="card-text">{{userpost.post_text}}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="modal-bg">
    <div class="modal">
        <form action="" method="POST" enctype="multipart/form-data" id="post_creation">
            {% csrf_token %}
            <div id="other_pics">

            </div>
            <div id=pic_preview>
                <h2>写真を追加</h2>
            </div>

            <input type="text" name="post_text" required>
            <button type="submit" class="btn btn-outline-primary" id="post_button">投稿</button>
            <div id="act_pic_inputs">
                <input type="file" name="image" accept="image/*" required class="pic_input" id="newest_pic_input">                
            </div>
            <div id="act_buttons">
                <button id="picture_add_button" type="button">写真を追加する</button>
                
            </div>
            
        </form>
        <span class="modal-close">X</span>
    </div>
</div>
<script src="{% static 'js/post.js' %}">
</script>
{% endblock content %}