{% extends "base.html" %}
{% load static %}

{% block title %}Duesseldorf|Photos{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/post_detail_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/posts_content_styles.css' %}">

{% endblock head%}


{% block content %}
<div id="post_detail_content">
    <img src="{{post.image.url}}" style="width:50%;">
    <div id="post_infos">
        <h5>by {{post.user}}</h5>
        <h5>{{post.text}}</h5>
        {% if post.user == request.user %}
            <a href=# data-toggle="modal" data-target="#DeleteUserPost" class=" modal-btn">投稿を削除する</a>        
        {% endif%}
    </div>

<div class="modal-bg">
    <div class="modal">
        <span class="modal-close">X</span>
        <h3>本当に削除しますか？</h3>
        <a href="delete-post/{{post.id}}">削除する</a>
        
    </div>
</div>
<script src="{% static 'js/post.js' %}"></script>
</div>


{% endblock content %}
