{% extends "base_user.html" %}
{% load static %}
{% block title%}Duesseldorf|Profile{% endblock title%}
{% block head %}
{% endblock head %}

{% block content %}
    <img src="{{ request.user.profile.profile_picture.url }}" style="width:50%;">     
    {% if request.user.profile.date_moved_to_germany %}
        <input type="text" name="day_moved_to_germany" value="{{ request.user.profile.date_moved_to_germany }}">
    {% else %}
        <input type="text" name="day_moved_to_germany" value="ドイツにきた時期を入力していません。">
    {% endif %} 
    <h3 style="color:white;">{{ request.user.profile.years_in_germany }}</h3>
    <a base href="edit/{{request.user.id}}">プロフィールを編集する</a>
{% endblock content %}