{% extends "base_user.html" %}
{% load static %}
{% block title%}Duesseldorf|Profile{% endblock title%}
{% block head %}
{% endblock head %}

{% block content %}
    <form method="POST" action="{{request.user.id}}" enctype="multipart/form-data" id="user_profile_container">
        {% csrf_token %}
        <input type="file" name="profile_picture" accept="image/*" required style="grid-column: 1;">
        <div id="user_infos">
            <input type= "date" value="{{request.user.profile.date_moved_to_germany}}" name="date_moved_to_germany">
            <input type="number" value="{{request.user.profile.years_in_germany}}" name="years_in_germany">
            <button type="submit">保存する</button>
        </div>
        
    </form>
{% endblock content %}
