{% extends "base.html" %}

{% load static %}


{% block title %}Duesseldorf|Event{% endblock title %}

{% block head %}
{% endblock head%}


{% block content %}
<!DOCTYPE html>
<body>


<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">

<div class="container">
<button id="back" onclick=location.href='/chat/'>戻る</button>
<div class="header2">
{{ room.name }}
</div>

<div id="chat-room-body">
{% for message in messages %}
    {% if message.user.username == person %}
    <div class = 'chat-box'>
        <div class="mycomment">
            <p>
            {{message.content}}
            </p>
        </div>
        <div class = created_at_mine>
            <p>
            {{message.created_at}}
        </p>
    </div>
    </div>
    {%　else　%}
        <div class="chat-box">
            <div class="chat-header">
                <img src= {{message.user.profile.profile_picture.url}} class="user-icon">   {{message.user.username}}
            </div>
            <div class="chat-body">
                <p>{{message.content}}</p>
            </div>
            <div id ="created_time">
                <p>{{message.created_at}}</p>
            </div>
        </div>
    {% endif %}

{% endfor%}

    <div id="footer"></div>
</div>

<div class="chat-room-footer">
    <div class="send-msg">
        <input type="hidden" placeholder="名前を入力" id="img" value="{{request.user.profile.profile_picture.url}}" disabled/>
        <input type="hidden" placeholder="名前を入力" id="name" value="{{request.user}}" disabled/>
        <input placeholder="メッセージを入力" id="msg" value=""/><button id="send">送信</button>
    </div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js" type="text/javascript"></script>

<script>

const ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/chat/'
            + '{{room.name}}'
            + '/'
        );



document.getElementById("send").onclick = function sendMessage () {

    var sendData = {
        name: document.getElementById('name').value,
        message: document.getElementById('msg').value,
        img_url: document.getElementById('img').value
    }
    ws.send(JSON.stringify(sendData))
    console.log(JSON.stringify(sendData))
}


ws.onmessage = e => {
    var receiveData = JSON.parse(e.data)
    var txt = receiveData.name
    console.log(receiveData)
    var messageBox = document.createElement('div')
    if (receiveData.name !== document.getElementById('name').value){
        messageBox.className = 'chat-box'
        var header = '<div class="chat-header">' + '<img src='  +receiveData.img_url+ ' class="user-icon">' +' ' + receiveData.name + '</div>'
        var body = '<div class="chat-body">' + receiveData.message + '</div>'
        function  exchanger(x) {
            if (x>12){
                return ' p.m.'
            }else{
                return ' a.m.'
            }
        }
        var created_T = '<div id ="created_time">' + moment().format('MMMM') + ' ' +moment().format('D')+', '+moment().format('YYYY') + ', ' +moment().format('h') + ':' + moment().format('mm')+ exchanger(Number(moment().format('H')))+ '</div>'
        document.getElementById('chat-room-body').prepend(messageBox)
        document.getElementsByClassName('chat-box')[0].insertAdjacentHTML('afterbegin', header + body + created_T)
        console.log(receiveData.img_url)
    }else{
        messageBox.className = 'chat-box'
        var body = '<div class="mycomment">' + '<p>' + receiveData.message + '</p>' + '</div>'
        function  exchanger(x) {
            if (x>12){
                return ' p.m.'
            }else{
                return ' a.m.'
            }
        }
        var created_T = '<div class ="created_at_mine">' + '<p>' + moment().format('MMMM') + ' ' +moment().format('D')+', '+moment().format('YYYY') + ', ' +moment().format('h') + ':' + moment().format('mm')+ exchanger(Number(moment().format('H')))+ '</p>' + '</div>'
        document.getElementById('chat-room-body').prepend(messageBox)
        document.getElementsByClassName('chat-box')[0].insertAdjacentHTML('afterbegin', body + created_T)
    }

}

</script>

</body>
{% endblock content %}
