{% extends "base.html" %}

{% load static %}

{% block title %}Duesseldorf|Event{% endblock title %}

{% block head %}
{% endblock head%}


{% block content %}
<!DOCTYPE html>
<body>


<link rel="stylesheet" type="text/css" href="{% static 'chat/style.css' %}">

<div class="container">

<div class="header2">
{{ room.name }}
</div>

<div id="chat-room-body">
{% for message in messages %}
    <div class="chat-box">
        <div class="chat-header">
            <img src= {{message.user.profile.profile_picture.url}} class="user-icon">   {{message.user.username}} 
        </div>
        <div class="chat-body">
            <p>{{message.content}}</p>
        </div>
        <div id ="created_time">
            <p>{{message.created_at}}</p>
        </div>
    </div>
{% endfor %}
    <div id="footer"></div>
</div>

<div class="chat-room-footer">
    <div class="send-msg">
        <input placeholder="名前を入力" id="img" value="{{request.user.profile.profile_picture.url}}" disabled/>
        <input placeholder="名前を入力" id="name" value="{{request.user}}" disabled/>
        <input placeholder="メッセージを入力" id="msg" value=""/><button id="send">送信</button>
    </div>
</div>

</div>

<script>

const ws = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/chat/'
            + '{{room.name}}'
            + '/'
        );



document.getElementById("send").onclick = function sendMessage () {

    var sendData = {
        name: document.getElementById('name').value,
        message: document.getElementById('msg').value,
        img_url: document.getElementById('img').value
    }
    ws.send(JSON.stringify(sendData))
    console.log(JSON.stringify(sendData))
}


ws.onmessage = e => {
    var receiveData = JSON.parse(e.data)
    var txt = receiveData.name
    console.log(receiveData)
    var messageBox = document.createElement('div')
    messageBox.className = 'chat-box'
    var header = '<div class="chat-header">' + '<img src='  +receiveData.img_url+ ' class="user-icon">' +' ' + receiveData.name + '</div>'
    var body = '<div class="chat-body">' + receiveData.message + '</div>'
    var created_T = '<div id ="created_time">' + Date().toLocaleString({ timeZone: 'Asia/Tokyo' }) + '</div>'
    document.getElementById('chat-room-body').prepend(messageBox)
    document.getElementsByClassName('chat-box')[0].insertAdjacentHTML('afterbegin', header + body + created_T)
   
}

</script>

</body>
{% endblock content %}
