{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/components/page_title_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/side_navbar_user_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_user_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_profile_styles.css' %}"> 
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/hannari.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head%}
</head>
<body>
    <div id="home_container">
        <div id='header'>
            {% include "components/page_title_user.html" %}
        </div>
        <div id="side_nav">
            {% include "components/side_navbar_user.html" %}
        </div>
        <div id="page_content">
            {% block content %}{% endblock content%}
        </div>
        <div class="footer">
            <p>Copyright &copy; Duesseldorf Dousoukai</p>
        </div>  
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{% static 'js/user_profile.js' %}"></script>
</body>
</html>