{% load static %}
<div id="page_title_container">
    <div id="page_title_text">
        <h3>デュッセルドルフ成人式</h3>
    </div>
    <div id="emblems">
        <img src="{% static 'img/日本人学校.jpeg' %}" id="jisd" >
        <img src="{% static 'img/isd.png' %}" id="isd" >
    </div>
    <div id="user_display">
        {% if request.user.profile %}
            <img src="{{ request.user.profile.profile_picture.url }}" id="user_icon">
        {% else %}
        <img src="{% static 'img/users.svg' %}" id="user_icon">
        {% endif %}
        <a base href="user/detail/{{ request.user.id }}" style="grid-column: 3;"><h3 id="username">{{request.user}}</h3></a>
        <a href="{% url 'account_logout' %}" id="logout_botton"><button class="btn btn-outline-danger">Logout</button></a>
    </div>  
</div>