#num_users {
  color: white;
}

@media screen and (min-width: 1224px) {
  .user_info_container {
    width: 80%;
    height: 80px;
    margin: 20px;
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    align-items: center;
  }

  #all_user_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .user_info_container {
    width: 80%;
    height: 80px;
    margin: 20px;
    background-color: whitesmoke;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }

  #all_user_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }
}
