#home_container{
    display: grid;
    grid-template-rows: 15% 80%;
    grid-template-columns:  20% 1fr;
    height: 100%;
    width: 100%;
    position: fixed;

    background-color: rgba(22, 21, 21, 0.979);
}

#header{
    grid-row:1/2;
    grid-column:1/4;
    padding: 0px 17px 0px 0px;
}

#side_nav{
    grid-row: 2;
    grid-column: 1/2;
}

#page_content{
    grid-row: 2;
    grid-column: 2;
    padding: 0px 0px 0px 0px;
}

.footer{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size:18px
}

label{
    color: whitesmoke;
}

body{
    margin: 0;
}

hr{
    background-color: whitesmoke;
}