#home_container{
    display: grid;
    grid-template-rows: 15% 1fr;
    grid-template-columns:  20% 1fr;
    height: 100%;
    width: 100%;
    position: fixed;
    background-image: url(../img/dus_background_night2.jpg);
    background-size: cover;
    background-color: rgba(32, 0, 148, 0.3);
    background-blend-mode: screen
}

#header{
    grid-row:1/2;
    grid-column:1/4;
    padding: 0px 17px 0px 0px;
}

#side_nav{
    grid-row: 2;
    grid-column: 1/2;
}

#page_content{
    grid-row: 2;
    grid-column: 2;
    padding: 0px 0px 0px 0px;
}

.footer{
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:whitesmoke;
    font-size:18px
}

body{
    margin: 0;
}