#post_detail_content{
    display: flex;
    background-color: azure;
    height: 100%;
    width: 100%;
}

#post_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}