#posts_content{
    height:100%;
    display: grid;
    grid-template-rows: 10%;
}
#photo_content_buttons{
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}
#user_posts_container{
    grid-row: 2;
    display: flex;
    align-content: space-around;
    height: 100%;
    overflow: scroll;
}
.button{
    text-align: center;
    height:100%;
}

.user_post{
    width: 20%;
    height: 300px;
    background-color: grey;
    margin: 20px;
}

.user_post img{
    height: 50%;
    width: 80%;
}