{% extends "account/login.html" %}

{% block title %}Duesseldorf|Signup{% endblock title %}

{% block account_function %}Signup{% endblock account_function %}
    
{% block form %}
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div>
            <label for="id_username">ユーザ名:</label>
            <input type="text" name="username" placeholder="ユーザ名" autocomplete="username" minlength="1" maxlength="20" required id="id_username">
        </div>
        <div>
            <label for="id_password1">パスワード:</label>
            <input type="password" name="password1" placeholder="パスワード" autocomplete="new-password" required id="id_password1">
        </div>
        <div>
            <label for="id_password2">パスワード（確認）:</label>
            <input type="password" name="password2" placeholder="パスワード（確認）" required id="id_password2">
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name}}" value="{{ redirect_field_value }}">
        {% endif %}
        <button type="submit">Signup</button>
        <a href="{% url 'account_login' %}">already have an account?</a>
    </form>
{% endblock form %}