#page_title_container{
    position: relative;
    display: grid;
    grid-template-columns:25% 10% 40% 25%;
    width: 100%;
    height:118.34px;
    background-color:	rgb(250, 128, 114,0.8)
}

#page_title_text{
    display:flex;
    color: black;
    font-family: "Sawarabi Mincho";
    grid-column:1/2;
    height:118.34px;
    margin: auto;
    align-items: center
}

#emblems{
    display:flex;
    grid-column:3/4;
    grid-template-columns:50% 50%;
    height:118.34px;
    align-items: center

}

img#jisd{
    height: 80%;
    border-radius: 50%;
    left: 10px;
    grid-column:1/2;
}

img#isd{
    height: 80%;
    border-radius: 50%;
    left: 10px;
    grid-column:2/3;
}

#user_display{
    display: flex;
    justify-content: space-around;
    grid-column:4/5;
    height:118.34px;
    align-items: center
}