.side_nav_item{
    list-style-type:none;
    text-align: center;
    background-color: salmon;
    font-size: 80%;
    display: grid;
    height: 10%;
    place-items: center;
    border-radius: 5px;
    width: 70%;
    text-decoration: none;
    margin: auto;
    opacity: 0.6;
    transition: 0.3s;

}

.side_nav_item:hover{
    opacity: 1;
    
}


.side_navbar_container{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

.side_navbar_container hr{
    size: 10px;
    width: 70%;
    bottom: 1000px;
}

